rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow read/write across all collections for local network & office terminals
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
